## Aufgabe 1

Ein Unternehmen baut eine Raffinerie für die Herstellung von vier Produkten: Diesel, Benzin, Schmierstoffe und Düsentreibstoff. Der Mindestbedarf (in Barrel/Tag) für jedes dieser Produkte beträgt 14.000, 30.000, 10.000 bzw. 8000 Barrel. Der Irak und Dubai sind vertraglich verpflichtet, Rohöl an OilCo zu liefern.
Aufgrund der von der OPEC (Organisation erdölexportierender Länder) festgelegten Förderquoten muss die neue Raffinerie mindestens 40 % ihres Rohöls aus dem Irak und den Rest aus Dubai beziehen. OilCo geht davon aus, dass die Nachfrage und die Quoten für Rohöl in den nächsten 10 Jahren konstant bleiben werden.

Aus einem Barrel irakischen Rohöls werden 0,2 Barrel Diesel, 0,25 Barrel Benzin, 0,1 Barrel Schmiermittel und 0,15 Barrel Düsentreibstoff gewonnen. Die entsprechende Erträge aus Dubai-Rohöl betragen 0,1, 0,6, 0,15 bzw. 0,1.

Das Unternehmen möchte die Mindestkapazität der Raffinerie (in Barrel/Tag) bestimmen.

- Erstellen Sie ein mathematisches Modell, das die oben genannten Anforderungen berücksichtigt.
- Lösen Sie das Modell mit `gurobi`
- Speichern Sie die Lösung in einen DataFrame und geben Sie diesen aus.

In [64]:
%pip install gurobipy

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import gurobipy as gp
from gurobipy import GRB

m1 = gp.Model("Raffinerie")

# Variables

# Zielfunktion

# Einschränkungen

# Optimierung

m1.write("Raffinerie.lp")

with open("Raffinerie.lp") as f:
    print(f.read())

Requirement already satisfied: gurobipy in c:\users\boyko\.conda\envs\opt2025-de\lib\site-packages (12.0.1)
Note: you may need to restart the kernel to use updated packages.
\ Model Raffinerie
\ LP format - for model browsing. Use MPS format to capture full model detail.
Minimize

Subject To
Bounds
End

# Aufgabe 2

Ein Bauunternehmen hat die Wahl zwischen sechs Projekten (A, B, C, D, E, F), die in den nächsten vier Jahren gebaut werden könnten. Jedes Projekt kann völlständig oder nur teilweise realisiert werden. Die Projekte unterscheiden sich in der Höhe der Gewinne und in den jährlichen Kosten. Die Projekte sind in der folgenden Tabelle (DataFrame `projects`) zusammengefasst.

- Der Einfachheit halber ignorieren Sie den Zeitwert des Geldes.
- Wenn ein Projekt nur teilweise realisiert wird, werden die Kosten und der Gewinn anteilig berechnet. Z.B. wenn ein Projekt 50 % realisiert wird, betragen die Kosten 50 % der jährlichen Kosten und der Gewinn 50 % des Gewinns.
- Die jährlichen Ausgaben des Unternehmens sind begrenzt (siehe die Series `budget`).

1. Erstellen Sie ein mathematisches Modell, das die oben genannten Anforderungen berücksichtigt.
2. Lösen Sie das Modell mit `gurobi` und speichern Sie die Lösung in einem DataFrame.
3. Fügen Sie eine neue Einschränkung hinzu, die besagt, dass Projekt B nicht realisiert werden kann, wenn Projekt C nicht realisiert wird. Falls Projekt C nur teilweise realisiert wird (z.B. 30 %), kann Projekt B auch nur teilweise realisiert werden und darf den Realisierungsgrad von Projekt C nicht überschreiten (d.h. darf höchstens bis 30% realisiert werden, falls Projekt C zu 30% realisiert wird).
4. Lösen Sie das Modell mit der neuen Einschränkung erneut und speichern Sie die Lösung in einem neuen DataFrame. Wie ändert sich die Lösung?

Nehmen Sie jetzt an, daß das Unternehmen nicht ausgegebene Beträge in den nächsten Jahren anlegen kann. Z.B wenn das Unternehmen in dem Ersten Jahr nur 60 Tausend EUR ausgibt, bleiben 20 Tausend (bis zur Budgetgrenze von 80 Tausend EUR), die in den nächsten Jahren ausgegeben werden können.

5. Erweitern Sie das Modell, um diese Anforderung zu berücksichtigen.
6. Lösen Sie das neue Modell und speichern Sie die Lösung in einem neuen DataFrame. Wie ändert sich die Lösung? Wie viel Geld bleibt in jedem Jahr übrig?

In [52]:
projects = pd.DataFrame({
    "Jahr 1": [10.2, 11.3, 8.7, 12.4, 9.5, 10.8],
    "Jahr 2": [7.2, 18.2, 6, 11.1, 12.2, 10.5],
    "Jahr 3": [13.4, 9.3, 11.7, 8.3, 10.1, 12.4],
    "Jahr 4": [10.9, 9.8, 8.2, 10.2, 11.5, 9.7],
    "Gewinn": [150, 300, 200, 320, 250, 280],
}, index = ["A", "B", "C", "D", "E", "F"])

projects

   Jahr 1  Jahr 2  Jahr 3  Jahr 4  Gewinn
A    10.2     7.2    13.4    10.9     150
B    11.3    18.2     9.3     9.8     300
C     8.7     6.0    11.7     8.2     200
D    12.4    11.1     8.3    10.2     320
E     9.5    12.2    10.1    11.5     250
F    10.8    10.5    12.4     9.7     280

In [53]:
budget = pd.Series({
    "Jahr 1": 25,
    "Jahr 2": 32,
    "Jahr 3": 18,
    "Jahr 4": 25,
}, name = "Budget")
budget

Jahr 1    25
Jahr 2    32
Jahr 3    18
Jahr 4    25
Name: Budget, dtype: int64

In [54]:
m2 = gp.Model("Bauprojekte")

# Variablen

# Zielfunktion

# Einschränkungen

m2.write("Bauprojekte.lp")

with open("Bauprojekte.lp", "r") as f:
    print(f.read())

\ Model Bauprojekte
\ LP format - for model browsing. Use MPS format to capture full model detail.
Minimize

Subject To
Bounds
End

# Aufgabe 3

Der Datensatz `cst` enthält Informationen über das Alter (`age`), das Geschlecht (`gender`), den jährlichen Lohn (`salary`)
und die Schulden (`debt`) von 500 Kunden einer Firma, die ein Auto gekauft haben. Der Kaufpreis des Autos ist in der Spalte `purchase_amount`
angegeben. Alle Währungsbeträge sind in USD angegeben.

Sie möchten vier Strategien zur Schätzung des Kaufpreises des Autos vergleichen. Diese unterscheiden sich 
durch die verwendeten Variablen (Gleichung 1 und Gleichung 2) und durch die verwendete Schätzmethode (OLS und LAD).

- Gleichung 1: Schätzung des Kaufpreises nur auf der Grundlage des Alters des Käufers.
$$
\widehat{\text{purchase\_price}} = \beta_0 + \beta_1 \text{age}
$$

- Gleichung 2: Schätzung des Kaufpreises auf der Grundlage des Alters, des Geschlechts, des Lohnes und der Schulden des Käufers.

$$
\widehat{\text{purchase\_price}} = \beta_0 + \beta_1 \text{age} + \beta_2 \text{gender} + \beta_3 \text{salary} + \beta_4 \text{debt}
$$

Der Datensatz `cst` ist in zwei Teile unterteilt: `cst_train` und `cst_test`. Der erste Teil wird zur Schätzung der Koeffizienten verwendet, der zweite Teil zur Berechnung der Prognosen.

1. Schätzen Sie die Koeffizienten in der zwei Modellen jeweils mit OLS und mit LAD (benutzten Sie `gurobi` für die Schätzung der LAD-Koeffizienten) mit dem Datensatz `cst_train`.
2. Berechnen Sie die Prognosen für die Kaufpreise der zwei Strategien mit den OLS und LAD Koeffizienten. Benutzen Sie den Datensatz `cst_test` für die Prognosen.
3. Berechnen Sie die mittlere absolute Abweichung (MAD) der Prognosen für die beiden Strategien mit den OLS und LAD Koeffizienten.
4. Welche Strategie prognosiert am genauesten den Kaufpreis des Autos?

In [55]:
cst = pd.read_excel("https://github.com/febse/data/raw/refs/heads/main/opt/car_purchasing.xlsx")
cst

,name,email,country,gender,age,salary,debt,net_worth,purchase_amount
0,Martina Avila,cubilia.Curae.Phasellus@quisaccumsanconvallis.edu,Bulgaria,0,41.851720,62812.09301,11609.380910,238961.2505,35321.45877
1,Harlan Barnes,eu.dolor@diam.co.uk,Belize,0,40.870623,66646.89292,9572.957136,530973.9078,45115.52566
2,Naomi Rodriquez,vulputate.mauris.sagittis@ametconsectetueradip...,Algeria,1,43.152897,53798.55112,11160.355060,638467.1773,42925.70921
3,Jade Cunningham,malesuada@dignissim.com,Cook Islands,1,58.271369,79370.03798,14426.164850,548599.0524,67422.36313
4,Cedric Leach,felis.ullamcorper.viverra@egetmollislectus.net,Brazil,1,57.313749,59729.15130,5358.712177,560304.0671,55915.46248
...,...,...,...,...,...,...,...,...,...
495,Walter,ligula@Cumsociis.ca,Nepal,0,41.462515,71942.40291,6995.902524,541670.1016,48901.44342
496,Vanna,Cum.sociis.natoque@Sedmolestie.edu,Zimbabwe,1,37.642000,56039.49793,12301.456790,360419.0988,31491.41457
497,Pearl,penatibus.et@massanonante.com,Philippines,1,53.943497,68888.77805,10611.606860,764531.3203,64147.28888
498,Nell,Quisque.varius@arcuVivamussit.net,Botswana,1,59.160509,49811.99062,14013.034510,337826.6382,45442.15353
499,Marla,Camaron.marla@hotmail.com,marlal,1,46.731152,61370.67766,9391.341628,462946.4924,45107.22566

In [63]:
from sklearn.model_selection import train_test_split

cst_train, cst_test = train_test_split(cst, test_size = 0.2, random_state = 42)